# данные в репозиторий не коммитятся
*.csv
*.pkl

# виртуальные окружения
.venv*

# артефакты mlflow: база экспериментов и сохранённые модели
mlflow/mlruns.db
mlflow/mlartifacts/
mlruns/

# служебные файлы
.ipynb_checkpoints/
__pycache__/
.DS_Store
